<div class="flex flex-col h-screen overflow-hidden">

  <%!-- HEADER   --%>
  <.live_component 
    id="header"
    module={SwaiWeb.Layouts.OldHeader}
    current_user={@current_user} 
  />

  <%!-- MAIN CONTENT --%>
  <main 
  class="flex-grow pt-12 overflow-auto" 
  id="main-page">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </main>

  <%!-- FOOTER --%>
  <.live_component 
    id="footer"
    module={SwaiWeb.Layouts.OldFooter}
  />

 
</div>



